<div class="container mb-5">
  <div class="row mb-4">
    <div class="col-2">
    </div>
    <div class="col-8" *ngIf="userGroup">
      <h4 class="mb-3 d-inline">Edit: </h4><a class="font-weight-bold" routerLink="/news"
                                              [queryParams]="{userId: user.id}">{{ user.name ? user.name : user.email ? user.email : user.id }}</a>
      <form [formGroup]="userGroup" (ngSubmit)="onSubmit()" class="w-50">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email">
        </div>

        <button [disabled]="!userGroup.valid" type="submit"
                class="btn btn-success">
          Edit
        </button>
      </form>
    </div>
  </div>
</div>
