<div class="container mb-5">
  <div class="row mb-4">
    <div class="col-2">
    </div>
    <div class="col-8">
      <h3>Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="signInWithEmailAndPassword()" class="w-50">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="d-flex justify-content-between">
          <button [disabled]="!loginForm.valid" type="submit"
                  class="btn btn-success">
            Login
          </button>
          <button type="button" routerLink="/register"
                  class="btn btn-warning">
            Register
          </button>
          <button type="button" (click)="loginWithGoogle()"
                  class="btn btn-info">
            Login with Google
          </button>
          <button type="button" (click)="loginWithFacebook()"
                  class="btn btn-dark">
            Login with Facebook
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
