<div class="container text-center" *ngIf="newsItem$ | async as newsItem">
  <div class="row">
    <div class="col">
      <h2>{{ newsItem.title }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <p>{{ newsItem.content }}</p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-5">
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-danger" (click)="deleteDocument()">Delete news</button>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <app-images-carousel [imagesUrls]="newsItem.imagesUrls"></app-images-carousel>
    </div>
  </div>
</div>
