<div class="container">

  <h1>Sign In with Your Phone Number</h1>
  <div [hidden]="confirmationResult">
    <label>Phone Number</label><br>
    <input type="text" [formControl]="phoneNumberControl" placeholder="(+48) 509-804-196">

    <hr>

    <div id="recaptcha-container"></div>

    <hr>
    <button class="btn btn-primary" (click)="sendLoginCode()">SMS Text Login Code</button>
  </div>

  <div *ngIf="confirmationResult">
    <hr>
    <label>Enter your Verification Code Here</label><br>
    <input type="text" [formControl]="verificationCodeControl">

    <button class="btn btn-primary" (click)="verifyLoginCode()">Verify</button>
  </div>

</div>
