<div class="container mb-5">
  <div class="row mb-4">
    <div class="col-2">
    </div>
    <div class="col-8" *ngIf="userGroup">
      <h3 class="d-inline">Edit: </h3><a class="font-weight-bold" routerLink="/news"
                                         [queryParams]="{userId: editedUser.id}">{{ editedUser.name ? editedUser.name : editedUser.email ? editedUser.email : editedUser.id }}</a>
      <form [formGroup]="userGroup" (ngSubmit)="onSubmit()" class="w-50 mt-3">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email">
        </div>

        <div class="mb-3" *appIsAdmin>
          <h4>Roles</h4>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" formControlName="author">
              Author
            </label>
          </div>

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" formControlName="admin">
              Admin
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-6 d-flex justify-content-between">
            <button [disabled]="!userGroup.valid" type="submit"
                    class="btn btn-success">
              Edit
            </button>
            <ng-container *ngIf="!isThisUser">
              <button *appIsAdmin type="button" (click)="removeUser()"
                      class="btn btn-danger">
                Remove
              </button>
            </ng-container>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
